<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definition -->
    <bean id="myBean" class="org.example.MyBean" init-method="afterPropertiesSet" destroy-method="destroy">
        <property name="message" value="Hello, Spring!" />
    </bean>

    <!-- MyService definition -->
    <bean id="myService" class="org.example.MyService">
        <constructor-arg ref="myBean"/>
    </bean>


</beans>